@tailwind base;
@tailwind components;
@tailwind utilities;

/* Flipside global styles */
body {
  margin: 0;
  padding: 0;
  background-color: #c7ebff; /* light blue like your screenshots */
  color: #0f172a; /* slate-900-ish */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}
